services:
  comfyui:
    image: ghcr.io/yoooooolx/comfyui-docker-build:latest
    container_name: comfyui_container
    restart: unless-stopped
    init: true

    ports:
    #   - "8188:8188"
      - "127.0.0.1:8188:8188"
    # network_mode: "host"
    
    environment:
      COMFYUI_LISTEN: 0.0.0.0
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility,video
    # HTTP_PROXY: ****
    # HTTPS_PROXY: ****
    # ALL_PROXY: ****
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./data/models:/app/models
      - ./data/custom_nodes:/app/custom_nodes
      - ./data/output:/app/output
      - ./data/input:/app/input
      - ./data/user:/app/user
